/* dung cac cai dung chung */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.input-wrapper input {
    border: 1px solid #dbdbdb;
    padding: 10px 30px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    color: #ffffff;
    background: #037bfe;
    border-radius: 8px;
    cursor: pointer;
}
.error {
    color: #ff0000;
}